<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OmskPromysel</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Ubuntu:ital,wght@1,300&family=Unbounded:wght@300&family=Rubik+Mono+One&display=swapdisplay=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Martian+Mono:wght@800&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"
      defer
    ></script>
    <script src="../static/js/jquery.spincrement.min.js" defer></script>
    <script src="../static/libs/gsap/gsap.min.js" defer></script>
    <script src="../static/libs/gsap/ScrollSmoother.min.js" defer></script>
    <script src="../static/libs/gsap/ScrollTrigger.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollToPlugin.min.js"></script>
    <script src="../static/js/fslightbox.js" defer></script>
    <script
      src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"
      defer
    ></script>
    <script src="../static/js/main.js" defer></script>
    <script src="../static/js/custom.js" defer></script>
    <script src="../static/js/app.js" defer></script>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <div id="preloader"></div>
    <div class="wrapper">
      <div class="content">
        <section>
          <header class="hero-section">
            <nav class="nav1">
              <div class="navbar1">
                <a class="navbar-logo1" href="#">
                  <img src="../static/images/logo2.png" alt="" />
                </a>
                <div class="nav-list1">
                  <a href="#section1" class="anchor">О нас</a>
                  <a href="#section2" class="anchor">Услуги</a>
                  <a href="#section3" class="anchor">Портфолио</a>
                  <a
                    id="grey"
                    class="navbar-button1"
                    href="#section4"
                    class="anchor"
                    >Написать нам</a
                  >
                  <a href="#section5" class="anchor">Контакты</a>
                </div>
              </div>
            </nav>
            <div class="main-header">
              <h1 class="main-title-h">BTL</h1>
              <h1 class="main-title-h-omsk">Омск</h1>
              <h1 class="main-title-h">Промысел</h1>
            </div>
            <div class="main-blocks">
              <div class="block-left">
                <div class="block-left-icon">
                  <img
                    src="../static/images/AdobeStock_203752271.jpeg"
                    alt=""
                  />
                </div>
                <div class="block-text">
                  <h1 class="main-title-h">Качество</h1>
                  <hr />
                  <p class="main-title-p">
                    Наше рекламное агентство обеспечивает высокое качество
                    выполнения проектов в сфере BTL и промо-акций.Мы обеспечим
                    успешное осуществление ваших задач!
                  </p>
                </div>
              </div>
              <div class="block-center">
                <div class="block-center-icon">
                  <img
                    src="../static/images/AdobeStock_411214872.jpeg"
                    alt=""
                  />
                </div>
                <div class="block-text">
                  <h1 class="main-title-h">Опыт</h1>
                  <hr />
                  <p class="main-title-p">
                    Мы имеем большой опыт в проведении BTL-акций и соцопросов.
                    Мы знаем все тонкости этих направлений и готовы применить
                    наши знания для достижения ваших целей.
                  </p>
                </div>
              </div>
              <div class="block-right">
                <div class="block-right-icon">
                  <img
                    src="../static/images/AdobeStock_219630389.jpeg"
                    alt=""
                  />
                </div>
                <div class="block-text">
                  <h1 class="main-title-h">Эксклюзивность</h1>
                  <hr />
                  <p class="main-title-p">
                    Увеличьте продажи и узнаваемость вашего бренда с
                    эксклюзивным проведением промо-акций в сети магазинов
                    Победа, Spar и Еда!
                  </p>
                </div>
              </div>
            </div>
          </header>
        </section>

        <div class="info" id="section1">
          <div class="info-inner">
            <div class="info-part-header">
              <h1>О компании</h1>
            </div>
          </div>
        </div>

        <div class="container1">
          <div class="info-part">
            <div class="info-content">
              <h3 class="info-title">Btl Омск Promysel</h3>
              <p class="info-text">
                Наше агентство делает все необходимое для эффективной реализации
                проектов: Перед началом проекта проводится обучение
                промо-персонала о рекламируемом продукте, подробностям механики
                конкретной акции, а также правилам работы с потенциальными
                покупателями и грамотной речи.
              </p>
            </div>
            <img
              src="../static/images/hero-section-img3.jpg"
              alt=""
              class="info-part-img"
            />
          </div>
        </div>
        <div class="container2">
          <div class="info-part">
            <img
              src="../static/images/hero-section-img2.jpg"
              alt=""
              class="info-part-img"
            />
            <div class="info-content">
              <h3 class="info-title">Качественный подход к каждому клиенту</h3>
              <p class="info-text">
                Наша команда экспертов знает, как разработать и эффективно
                реализовать стратегии BTL-кампании и промо-акций, которые точно
                отразят характер вашего бизнеса и помогут достичь ваших целей.
                Мы предлагаем индивидуальный подход и гибкость в работе, чтобы
                воплотить ваши идеи в успешные проекты.
              </p>
            </div>
          </div>
        </div>

        <div class="benefits bg">
          <div class="benefits-inner">
            <div class="benefits-title">
              <h1>Цифры:</h1>
            </div>
            <div class="benefits__top">
              <div class="benifits__top-left">
                <div class="benifits_top-title">
                  <h1>₽</h1>
                  <h1 class="benefits-number">15</h1>
                  <h2>млн</h2>
                </div>
                <div class="benifits_top-subtitle">
                  <p>Годовой оборот компании,</p>
                  <p class="subtitle-down">к которому мы стремимся</p>
                </div>
              </div>
              <div class="benifits__top-right">
                <div class="benifits_top-title">
                  <h1 class="benefits-number">11</h1>
                  <h2>лет</h2>
                </div>
                <div class="benifits_top-subtitle">
                  <p class="subtitle-down-sec">На рынке</p>
                </div>
              </div>
            </div>
            <div class="benefits__bottom-main">
              <div class="benefits__bottom">
                <div class="bottom-title">
                  <div class="bottom-title-days">
                    <h1 class="benefits-number">365</h1>
                    <h2>дней</h2>
                  </div>
                  <p>В году реализовываем</p>
                  <p>ваши проекты</p>
                </div>
                <div class="bottom-title">
                  <div class="bottom-title-flex">
                    <h1 class="benefits-number">99</h1>
                    <h2 class="benefits-number-precent">&percnt;</h2>
                  </div>
                  <p>клиентов</p>
                  <p>становятся постоянными</p>
                </div>
                <div class="bottom-title">
                  <div class="bottom-title-flex">
                    <h1 class="benefits-number">5</h1>
                    <h2 class="benefits-number-plus">+</h2>
                  </div>
                  <p>оценка</p>
                  <p>нашей работы</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="info2" id="section2">
          <div class="info-inner">
            <div class="info-part-header">
              <h1>Наше</h1>
              <h1>Портфолио:</h1>
            </div>
          </div>
        </div>
        <section class="main-gallery">
          <div class="gallery-container">
            <div class="image-gallery">
              <div data-speed=".95" class="gallery-col">
                <div class="gallery-img">
                  <img
                    class="img1"
                    src="../static/images/gallery/1.jpg"
                    alt=""
                  />
                </div>
                <div class="gallery-img">
                  <img
                    class="img2"
                    src="../static/images/gallery/2.jpg"
                    alt=""
                  />
                </div>
                <div class="gallery-img">
                  <img
                    class="img3"
                    src="../static/images/gallery/3.jpg"
                    alt=""
                  />
                </div>
                <div class="gallery-img">
                  <img
                    class="img2"
                    src="../static/images/gallery/17.jpg"
                    alt=""
                  />
                </div>
                <div class="gallery-img">
                  <img
                    class="img3"
                    src="../static/images/gallery/5.jpg"
                    alt=""
                  />
                </div>
                <div class="gallery-img">
                  <img
                    class="img2"
                    src="../static/images/gallery/13.jpg"
                    alt=""
                  />
                </div>
                <div class="gallery-img">
                  <img
                    class="img2"
                    src="../static/images/gallery/19.jpg"
                    alt=""
                  />
                </div>
                <div class="gallery-img">
                  <img
                    class="img3"
                    src="../static/images/gallery/16.jpg"
                    alt=""
                  />
                </div>
                <div class="gallery-img-rigth">
                  <img
                    class="img2"
                    src="../static/images/gallery/14.jpg"
                    alt=""
                  />
                </div>
                <div class="gallery-img">
                  <img
                    class="img3"
                    src="../static/images/gallery/20.jpg"
                    alt=""
                  />
                </div>
              </div>

              <div data-speed="1.05 " class="gallery-col">
                <div class="gallery-img-rigth">
                  <img
                    class="img2"
                    src="../static/images/gallery/6.jpg"
                    alt=""
                  />
                </div>
                <div class="gallery-img-rigth">
                  <img
                    class="img3"
                    src="../static/images/gallery/7.jpg"
                    alt=""
                  />
                </div>
                <div class="gallery-img-rigth">
                  <img
                    class="img1"
                    src="../static/images/gallery/11.jpg"
                    alt=""
                  />
                </div>
                <div class="gallery-img-rigth">
                  <img
                    class="img2"
                    src="../static/images/gallery/18.jpg"
                    alt=""
                  />
                </div>
                <div class="gallery-img-rigth">
                  <img
                    class="img2"
                    src="../static/images/gallery/10.jpg"
                    alt=""
                  />
                </div>
                <div class="gallery-img-rigth">
                  <img
                    class="img1"
                    src="../static/images/gallery/8.jpg"
                    alt=""
                  />
                </div>
                <div class="gallery-img-rigth">
                  <img
                    class="img3"
                    src="../static/images/gallery/12.jpg"
                    alt=""
                  />
                </div>
                <div class="gallery-img-rigth">
                  <img
                    class="img2"
                    src="../static/images/gallery/15.jpg"
                    alt=""
                  />
                </div>
                <div class="gallery-img">
                  <img
                    class="img3"
                    src="../static/images/gallery/21.jpg"
                    alt=""
                  />
                </div>
                <div class="gallery-img-rigth">
                  <img
                    class="img1"
                    src="../static/images/gallery/23.jpg"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="main-gallery-content">
            <div class="content-fixed">
              <h1 class="fixed-title">Хотите получать клиентов?</h1>
              <p class="fixed-title-p1 fixed-title-p">
                Наши эксперты по BTL гарантируют рост продаж и улучшение имиджа
                компании.
              </p>
              <p class="fixed-title-p2 fixed-title-p">
                Увеличьте продажи и повысьте узнаваемость вашего бренда с нами!
              </p>
              <p class="fixed-title-p3 fixed-title-p">
                Эффективные BTL-акции и соцопросы — гарантированный успех вашего
                бизнеса!
              </p>
            </div>
            <div class="content-stop"></div>
          </div>
        </section>
        <div class="info" id="section3">
          <div class="info-inner">
            <div class="info-part-header">
              <h1>Услуги</h1>
            </div>
          </div>
        </div>
        <div class="card-container1">
          <div class="uslugi">
            <div class="card1">
              <img src="../static/images/hero-section-img3.jpg" alt="" />
              <div class="intro">
                <h1>Организация праздников</h1>
                <p>
                  Занимается организацией и проведением торжеств и мероприятий
                  любой сложности и мастштаба.
                </p>
              </div>
            </div>
            <div class="card1">
              <img src="../static/images/btl-merop.jpg" alt="" />
              <div class="intro">
                <h1>
                  BTL <br />
                  мероприятия
                </h1>
                <p>
                  Предоставляет полный спектр услуг связанных с проведением всех
                  видов промо акций и BTL мероприятий.
                </p>
              </div>
            </div>
            <div class="card1">
              <img src="../static/images/soc-isled.jpg" alt="" />
              <div class="intro">
                <h1>Социологические исследования</h1>
                <p>
                  Проведём исследование клиентов, целевой аудитории, рынка,
                  конкурентов, партнёров. Анкетирование.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="info1 info4">
          <div class="info-inner">
            <div class="info-part-header">
              <h1>Нам доверяют</h1>
            </div>
          </div>
        </div>

        <div class="gallery-bg gallery-bg-tint">
          <div class="container-gallery">
            <div class="gallery">
              <!-- Свайпер -->
              <div class="swiper gallery-swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <a data-fslightbox="gallery" class="gallery__link" href="#">
                      <img
                        class="gallery__img"
                        src="../static/images/logo/cd303cc5b14099a8afbbae9a7a593ceb-AmoyShare.png"
                        alt="1"
                      />
                    </a>
                  </div>
                  <div class="swiper-slide">
                    <a data-fslightbox="gallery" class="gallery__link" href="#">
                      <img
                        class="gallery__img"
                        src="../static/images/logo/logo-danone-AmoyShare.png"
                        alt="2"
                      />
                    </a>
                  </div>
                  <div class="swiper-slide">
                    <a data-fslightbox="gallery" class="gallery__link" href="#">
                      <img
                        class="gallery__img"
                        src="../static/images/logo/logo-jokey-AmoyShare.png"
                        alt="3"
                      />
                    </a>
                  </div>
                  <div class="swiper-slide">
                    <a data-fslightbox="gallery" class="gallery__link" href="#">
                      <img
                        class="gallery__img"
                        src="../static/images/logo/logo-klinckoe.png"
                        alt="4"
                      />
                    </a>
                  </div>
                  <div class="swiper-slide">
                    <a data-fslightbox="gallery" class="gallery__link" href="#">
                      <img
                        class="gallery__img"
                        src="../static/images/logo/logo-Nivea-logo-old1.png"
                        alt="5"
                      />
                    </a>
                  </div>
                  <div class="swiper-slide">
                    <a data-fslightbox="gallery" class="gallery__link" href="#">
                      <img
                        class="gallery__img"
                        src="../static/images/logo/logo-pf-AmoyShare (1).png"
                        alt="6"
                      />
                    </a>
                  </div>
                  <div class="swiper-slide">
                    <a data-fslightbox="gallery" class="gallery__link" href="#">
                      <img
                        class="gallery__img"
                        src="../static/images/logo/logo-pyat-ozer.png"
                        alt="7"
                      />
                    </a>
                  </div>
                  <div class="swiper-slide">
                    <a data-fslightbox="gallery" class="gallery__link" href="#">
                      <img
                        class="gallery__img"
                        src="../static/images/logo/logo-sb.png"
                        alt="7"
                      />
                    </a>
                  </div>
                  <div class="swiper-slide">
                    <a data-fslightbox="gallery" class="gallery__link" href="#">
                      <img
                        class="gallery__img"
                        src="../static/images/logo/logo-whiskas-AmoyShare.png"
                        alt="7"
                      />
                    </a>
                  </div>
                  <div class="swiper-slide">
                    <a data-fslightbox="gallery" class="gallery__link" href="#">
                      <img
                        class="gallery__img"
                        src="../static/images/logo/logo-zm-AmoyShare.png"
                        alt="7"
                      />
                    </a>
                  </div>
                </div>
              </div>

              <!-- Навигация -->
              <div class="gallery__navigation">
                <button class="gallery__btn gallery__btn-prev">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="40"
                    height="40"
                    fill="currentColor"
                    class="bi bi-arrow-left-circle"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"
                    ></path>
                  </svg>
                </button>
                <button class="gallery__btn gallery__btn-next">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="40"
                    height="40"
                    fill="currentColor"
                    class="bi bi-arrow-right-circle"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
                    ></path>
                  </svg>
                </button>
              </div>
            </div>

            <div class="gallery-pagination"></div>
          </div>
        </div>
        <div class="info2">
          <div class="info-inner">
            <div class="info-part-header">
              <h1>Наши</h1>
              <h1>Преимущества:</h1>
            </div>
          </div>
        </div>
        <div class="pluses2">
          <div class="pluses-block-first">
            <div class="pluses-block-first-first">
              <div class="title-block">
                <div class="main-title">
                  <h1>(01)</h1>
                  <h2>Быстрые результаты</h2>
                  <h3>и точность</h3>
                  <h2>соцопросов</h2>
                </div>
                <p>
                  Наше рекламное агентство предлагает услуги по соцопросам,
                  которые помогут Вам наиболее точно выявить мнение целевой
                  аудитории и сделать эффективные рекламные решения.
                </p>
              </div>
            </div>
            <div class="pluses-block-first-sec">
              <div class="title-block">
                <div class="main-title">
                  <h1>(02)</h1>
                  <h2>Эффективные</h2>
                  <h3>маркетинговые</h3>
                  <h2>стратегии под ключ</h2>
                </div>
                <p>
                  Наше BTL агентство специализируется на организации непрямых
                  рекламных активностей, позволяющих привлекать внимание
                  потенциальных клиентов к Вашему бренду без прямого рекламного
                  воздействия.
                </p>
              </div>
            </div>
          </div>
          <div class="pluses-block-second">
            <div class="pluses-block-first-first"></div>
            <div class="pluses-block-first-sec">
              <div class="title-block">
                <div class="main-title">
                  <h1>(03)</h1>
                  <h2>Мы помогаем</h2>
                  <h3>Вашему бренду</h3>
                  <h2>выделиться</h2>
                  <h2>из толпы</h2>
                </div>
                <p>
                  Наше рекламное агентство предлагает уникальные BTL-решения и
                  промо-акции, гарантирующие повышение осведомленности о Вашем
                  продукте, укрепление имиджа и увеличение продаж.
                </p>
              </div>
            </div>
          </div>
          <div class="pluses-block-3">
            <div class="pluses-block-third">
              <div class="title-block">
                <div class="main-title">
                  <h1>(04)</h1>
                  <h2>Уникальные промо-акции</h2>
                  <h3>в магазинах</h3>
                  <h2>Победа, Spar и Еда!</h2>
                </div>
                <p>
                  Вы хотите расширить свою клиентскую базу и привлечь больше
                  покупателей? Наше рекламное агентство предоставляет
                  эксклюзивное проведение промо-акций в сети магазинов Победа,
                  Spar и Еда! Мы знаем секреты успешного промо-маркетинга и
                  готовы помочь вашему бизнесу разрывать рынок. Наша команда
                  состоит из опытных профессионалов, которые разработают и
                  предложат вам уникальные идеи для привлечения внимания
                  покупателей. Мы проведем глубокий анализ вашего бренда, а
                  также изучим аудиторию и конкурентов, чтобы создать
                  индивидуальную стратегию, максимально эффективную для сети
                  магазинов Победа, Spar и Еда! Мы предлагаем широкий спектр
                  промо-акций, включая акции с подарками, скидки, бонусы и
                  многое другое. Как эксперты в сфере рекламы, мы знаем, как
                  привлечь внимание покупателей, создать импульс к покупке и
                  увеличить продажи. Не упускайте возможность побить рекорды
                  продаж! Обратитесь к нам для эксклюзивного проведения
                  промо-акций в сети магазинов Победа, Spar и Еда!
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="info3">
          <div class="info-inner">
            <div class="info-part-header">
              <h1>Как мы работаем:</h1>
            </div>
          </div>
        </div>
        <div class="works">
          <div class="works-up">
            <div class="works-content">
              <h1>1</h1>
              <div class="works-content-title1">
                <h2>Знакомство</h2>
                <p>
                  Вы отправляете информацию по вашему бизнесу: (ниша, регион
                  продвижения, бюджет, фотографии и тп.)
                </p>
              </div>
            </div>
            <div class="works-content">
              <h1>2</h1>
              <div class="works-content-title2">
                <h2>Анализ</h2>
                <p>
                  Мы глубоко анализируем вашу целевую аудиторию и
                  позиционирование бренда для эффективной коммуникации и
                  достижения поставленных целей.
                </p>
              </div>
            </div>
          </div>
          <div class="works-up works-down">
            <div class="works-content">
              <h1>3</h1>
              <div class="works-content-title">
                <h2>Запуск</h2>
                <p>
                  Наше агентство профессионально организует запуск мероприятий
                  BTL и проведение промо-акций, чтобы вы смогли достичь ваших
                  целей и удивить вашу аудиторию.
                </p>
              </div>
            </div>
            <div class="works-content">
              <h1>4</h1>
              <div class="works-content-title4">
                <h2>Результат</h2>
                <p>
                  Мы поможем вам добиться максимальной эффективности в
                  организации мероприятий BTL и проведении промо-акций.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="info2">
          <div class="info-inner">
            <div class="info-part-header questions-title">
              <h1>Вопросы - Ответы</h1>
              <h2>Есть вопросы, которые очень часто задают нам клиенты</h2>
              <h3>Мы собрали ответы на них в этом разделе!</h3>
            </div>
          </div>
        </div>

        <div class="accordion1-questions">
          <div class="accordion1">
            <div class="accordion1-content">
              <div class="questions1">
                <span class="title1"
                  >Что такое BTL и какие преимущества он предоставляет?</span
                >
                <i class="fa-solid fa-plus"></i>
              </div>

              <p class="discription1">
                BTL (Below The Line) - это маркетинговые активности, нацеленные
                на прямую коммуникацию с целевой аудиторией. Отличительной
                особенностью BTL является использование непрямых каналов
                коммуникации, таких как промо-акции, выставки, мероприятия,
                специальные акции и прочее. Основные преимущества BTL включают
                более точное и персонализированное взаимодействие с клиентами,
                возможность измерения эффективности кампании и увеличение
                лояльности целевой аудитории.
              </p>
            </div>
            <div class="accordion1-content">
              <div class="questions1">
                <span class="title1"
                  >Какие соцопросы можно провести и какую информацию они помогут
                  нам получить?</span
                >
                <i class="fa-solid fa-plus"></i>
              </div>

              <p class="discription1">
                Соцопросы - это метод сбора информации о мнениях и предпочтениях
                целевой аудитории путем проведения опросов. Они могут быть
                направлены на выявление потребностей и ожиданий клиентов, оценку
                эффективности рекламной кампании, изучение мнений о конкурентах
                и многое другое. Соцопросы помогут нам получить ценную
                информацию для оптимизации маркетинговых стратегий и повышения
                уровня удовлетворенности клиентов.
              </p>
            </div>
            <div class="accordion1-content">
              <div class="questions1">
                <span class="title1"
                  >Какой бюджет необходим для проведения BTL-активностей и
                  соцопросов?</span
                >
                <i class="fa-solid fa-plus"></i>
              </div>

              <p class="discription1">
                Бюджет для проведения BTL-активностей и соцопросов может сильно
                варьироваться в зависимости от различных факторов, таких как
                масштаб кампании, количество участников, место проведения и др.
                Наше рекламное агентство готово предоставить вам подробную
                коммерческое предложение, основанное на ваших требованиях и
                бюджетных возможностях.
              </p>
            </div>
            <div class="accordion1-content">
              <div class="questions1">
                <span class="title1"
                  >Каковы основные этапы создания и реализации
                  BTL-кампании?</span
                >
                <i class="fa-solid fa-plus"></i>
              </div>

              <p class="discription1">
                Основные этапы создания и реализации BTL-кампании включают
                анализ целевой аудитории, разработку концепции и творческого
                решения, планирование и организацию мероприятий, проведение
                активности, анализ эффективности и подведение итогов. Наше
                агентство обладает опытом и профессионализмом, чтобы провести
                успешную BTL-кампанию и достичь поставленных целей.
              </p>
            </div>
            <div class="accordion1-content">
              <div class="questions1">
                <span class="title1"
                  >Какие инструменты BTL эффективнее всего использовать?</span
                >
                <i class="fa-solid fa-plus"></i>
              </div>

              <p class="discription1">
                Выбор инструментов BTL зависит от характеристик вашей целевой
                аудитории и задач кампании. Например, промо-акции могут быть
                эффективными для привлечения новых клиентов, выставки - для
                продвижения товара или услуги, специальные акции - для повышения
                лояльности существующих клиентов. Наше агентство подберет
                наиболее подходящие инструменты в соответствии с вашей
                конкретной ситуацией.
              </p>
            </div>
            <div class="accordion1-content">
              <div class="questions1">
                <span class="title1"
                  >По каким адресам находятся магазины Spar для эксклюзивного
                  проведения промо-акций?</span
                >
                <i class="fa-solid fa-plus"></i>
              </div>

              <p class="discription1">
                ул. 70 лет Октября, 7 <br />ул. 10 лет Октября, 92 <br />ул.
                Дианова, 1 <br />ул. 22 Апреля, 38/8 <br />ул. 4-я Челюскинцев,
                64 <br />ул. Суворова, 89 <br />ул. Иртышская набережная, 10/1
              </p>
            </div>
            <div class="accordion1-content">
              <div class="questions1">
                <span class="title1"
                  >По каким адресам находятся магазины Гипермаркет ПОБЕДА для
                  эксклюзивного проведения промо-акций?</span
                >
                <i class="fa-solid fa-plus"></i>
              </div>

              <p class="discription1">
                ул. Заозерная, 11\1 <br />
                ул. 1-я Казахстанская, 1А <br />
                ул. 10 Лет Октября, 136а <br />
                ул. Архитекторов, 5 <br />
                ул. Рождественского, 6\1 <br />
                ул. Завертяева, 28 <br />
                ул. Комарова, 6\1 <br />
                ул. Конева, 30\3 <br />
                ул. Космический пр., 24Б <br />
                ул. Мира пр., 104 <br />
                ул. Богдана Хмельницкого ул, 287\1 <br />
                ул. Кирова, 16\3 <br />
                Ростовка п.,23 <br />
                ул. 6 Шинная, 8 <br />
                ул. Гашека, 13 <br />
                ул. Пушкина, 59 <br />
                ул. Космический пр.,17Б <br />
                ул. 5 Северная, 200А <br />
                ул. Мира пр, 42/1
              </p>
            </div>
            <div class="accordion1-content">
              <div class="questions1">
                <span class="title1"
                  >По каким адресам находятся магазины Дискаунтер "ЕДА!" для
                  эксклюзивного проведения промо-акций?</span
                >
                <i class="fa-solid fa-plus"></i>
              </div>

              <p class="discription1">ул. 3-я Любинская, 5\1</p>
            </div>
            <div class="accordion1-content">
              <div class="questions1">
                <span class="title1"
                  >По каким адресам находятся магазины Низкоцен для
                  эксклюзивного проведения промо-акций?</span
                >
                <i class="fa-solid fa-plus"></i>
              </div>

              <p class="discription1">
                ул. Октябрьская, 123 <br />
                ул. Звездова, 39
              </p>
            </div>
            <div class="accordion1-content">
              <div class="questions1">
                <span class="title1"
                  >Как можно повысить участие клиентов в BTL-активностях?</span
                >
                <i class="fa-solid fa-plus"></i>
              </div>

              <p class="discription1">
                Для повышения участия клиентов в BTL-активностях следует
                предлагать им привлекательные и выгодные предложения, создавать
                интересные и запоминающиеся мероприятия, активно использовать
                социальные сети и другие каналы коммуникации для продвижения
                активностей, а также предоставлять удобные способы регистрации и
                участия.
              </p>
            </div>
            <div class="accordion1-content">
              <div class="questions1">
                <span class="title1">
                  Как оценить эффективность проведенной BTL-кампании и
                  соцопросов?</span
                >
                <i class="fa-solid fa-plus"></i>
              </div>

              <p class="discription1">
                Оценка эффективности проведенной BTL-кампании и соцопросов может
                осуществляться через сбор и анализ данных, опросы участников,
                измерение изменений показателей после проведения кампании, а
                также сравнение результатов с заранее определенными целями и
                показателями. Мы предоставим вам детальный отчет об
                эффективности проведенной деятельности и рекомендации для
                дальнейших действий.
              </p>
            </div>
          </div>
          <script src="../static/js/accordion-question.js"></script>
        </div>
        <div class="input" id="section4" id="section5">
          <div class="input-info">
            <div class="info-btn">
              <p>Напишите нам!</p>
            </div>
            <h1 class="first-info-h">Остались</h1>
            <h1 class="second-info-h"><span>Вопросы?</span></h1>
            <div class="info-input">
              <p>
                Оставьте ваши контактные данные, и мы свяжемся с вами в
                ближайшее время.
              </p>
            </div>
            <div class="info-contact">
              <p>+7 (913) 978 50 18</p>
              <p>btl@omskpromysel.ru</p>
              <p>s.ulanov@ad-omsk.ru</p>
              <p>ул. Серова 1В</p>
            </div>
          </div>

          <form action="{{url_for('process_submit')}}" method="post">
            {{ form.hidden_tag()}}
            <div class="inputBox">
              {{ form.name()}}
              <span>Имя</span>
            </div>
            <div class="inputBox">
              {{ form.email() }}
              <span>Email</span>
            </div>
            <div class="inputBox">
              {{ form.number() }}
              <span>Номер телефона</span>
            </div>
            <div class="inputBox">
              {{ form.text() }}
              <span>Комментарий</span>
            </div>
            {{ form.submit()}}
          </form>
        </div>
        <div class="footer"></div>
      </div>
    </div>
    <script>
      var loader = document.getElementById("preloader");
      window.addEventListener("load", function () {
        loader.style.display = "none";
      });
    </script>
  </body>
</html>
